@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400;500;600;700');

@mixin h_center_content {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

@mixin v_center_content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@mixin center_content {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin hover {
  transform: scale($scale);
  transition: $animation scale;
}

@mixin card {
  margin-bottom: 0;
  padding: 15px;
  border-bottom: 1px solid $grey;
  transition: box-shadow $animation;
  position: relative;

  &:hover {
    box-shadow: 4px 4px 3px 1px $shadow;
    border-radius: $border_radius;
    border: none;
  }
}

@mixin glass_effect {
  &:hover {
    &::after {
      height: 100%;
    }
  }

  &::after {
    content: '';
    width: 100%;
    height: 0;
    opacity: 0.1;
    border-radius: $border_radius;
    background-color: #999;
    mask-image: url('../assets/images/Untitled-1.png');
    mask-size: 350% 90%;
    mask-repeat: no-repeat;
    mix-blend-mode: hard-light;
    transition: height $animation_alt;
    position: absolute;
    top: 0;
    left: 0;
  }
}

html {
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 16px;
  font-weight: 400;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}

h1 {
  font-size: 70px;
  font-weight: 700;
  margin: 20px 0;
}

h2 {
  font-size: 30px;
  font-weight: 700;
  margin: 0;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  margin: 30px 0 0;
  transition: color $animation;
}

p,
span,
dt {
  line-height: $line_height;
}

a {
  color: #000;
  text-decoration: none;
}

em {
  font-style: normal;
}

dl {
  margin: 0;
}

dt {
  margin: 15px 20px 0;
  &:first-child {
    margin-top: 10px;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

article {
  display: flex;
  flex-direction: column;
  padding: 0;
  transition: transform $animation_alt;

  &:hover {
    transform: scale($scale);
  }

  & > div:first-child {
    background-image: $background_image;
    border-radius: $border_radius;
    position: relative;

    h3 {
      color: #fff;
    }

    button {
      position: absolute;
      bottom: 0;
      left: 25px;
      transform: translate(0, 50%);
      color: #000;
      background-color: #fff;
    }
  }

  & > *:last-child {
    margin: 15px 5px;
    display: flex;
    flex-direction: column;
    row-gap: 7px;
  }
}

hr {
  width: 100%;
  border: none;
  border-top: 1px solid #ccc;
}

button {
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 16px;
  padding: 7px 15px;
  border: none;
  border: 1px solid $grey;
  background-color: transparent;
  border-radius: $border_radius;
  transition: background-color $animation;
  cursor: pointer;

  &:hover {
    background-color: $hover !important;
  }
}

sup {
  position: relative;
  left: -5px;
  transition: transform $animation;
  svg {
    width: 10px;
  }
}
