nav {
  width: 100vw;
  height: $nav_height;
  padding-right: 75px;
  position: absolute;
  z-index: 2;

  svg { visibility: hidden; }

  ul {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    @include v_center_content;
    float: right;

    li {
      width: 80px;
      color: #FFF;
      text-align: center;
      display: inline-block;
      margin: 0;
      padding: 10px 0;
      border-radius: $border_radius;
      transition: color $animation;
      cursor: pointer;

      &:hover { color: $grey; }
      }
    }
}

.secondary_list {
  width: auto;
  padding: 10px 25px;
  white-space: pre;
}

menu {
  width: 15vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: sticky;
  top: 0;
  z-index: 1;
  // border: 1px solid red;

  ul {
    padding: 15px 0 15px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    @include v_center_content;
    border-left: 1px solid $grey;

    z-index: 2;

    li {
      padding: 7px 10px;
      border-radius: $border_radius;
      transition: background-color $animation;
      cursor: pointer;
      position: relative;

      &:hover { background-color: $hover; }
    }
  }
}

.menu_alt {
  height: auto;
  
  ul { position: sticky; }
  
  li {
    padding-right: 3px;
    span { margin-right: 10px; }
  }
}

footer {
  font-size: .9rem;
  font-weight: 300;
  padding: 5vh 5vw;
  color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 3px;
  background-image: $background_image_fade;
  background-repeat: no-repeat;

  a {
    color: #FFF;
    text-decoration: underline;
    text-underline-offset: 3px;
    transition: color $animation;
    
    &:hover { color: $grey; }
  }

  span:last-child {
    margin: 2vh 0 auto;
  }
}