.background_art_1 {
  width: 35vw;
  translate: -5% 50%;
  position: absolute;
  bottom: 0;
  z-index: 1;
  
  @media (prefers-reduced-motion: no-preference) {
    animation: art_rotate 4s ease-in-out infinite alternate-reverse;
  }
  
  @keyframes art_rotate {
    from { rotate: -5deg; }
    to { rotate: 5deg; }
  }
}

.background_art_2 {
  width: 33vw;
  position: absolute;
  bottom: 25vh;
  left: -31vw;

  @media (prefers-reduced-motion: no-preference) {
    animation: art_rotate_2 .1s ease-in-out infinite alternate-reverse;
  }
  
  @keyframes art_rotate_2 {
    from { left: -31vw; }
    to { left: -31.1vw; }
  }
}

nav {
  height: $nav_height;
  padding-right: 50px;

  svg { visibility: hidden; }

  ul {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    @include v_center_content;
    float: right;

    li {
      width: 80px;
      text-align: center;
      display: inline-block;
      margin: 0;
      padding: 10px 0;
      border-radius: $border_radius;
      transition: background-color $animation;
      cursor: pointer;

      &:hover { background-color: $hover; }
      }
    }
}

.secondary_list {
  width: auto;
  padding: 10px 25px;
  white-space: pre;
}

menu {
  width: 20vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: sticky;
  top: 0;
  z-index: 1;

  ul {
    padding: 15px 0 15px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    @include center_content;
    border-left: 1px solid $grey;
    z-index: 2;

    li {
      padding: 7px 10px;
      // border: 1px solid red;
      border-radius: $border_radius;
      transition: background-color $animation;
      cursor: pointer;
      position: relative;

      &:hover { background-color: $hover; }
    }
  }
}

.menu_alt {
  li {
    padding-right: 3px;
    span { margin-right: 10px; }
  }
}

footer {
  width: 70vw;
  height: 135px;
  font-size: .9rem;
  margin-left: 50px;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
  border-top: 1px solid $grey;

  & > div {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
  }

  a {
    text-decoration: underline;
    text-underline-offset: 3px;
  }
}

.footer_sec { height: 120px; }

.footer_center {
  margin: 0;
  align-items: center;
  @include h_center_content;
}