// Styles
$border_radius: 5px;
$line_height: 1.7;

// Colours
$base: #FBFBFB;
$grey: #999;
$grey_alt: #333;
$hover: #F3F3F3;
$shadow: #E6E6E6;

// Transformations
$animation: 0.1s linear;
$animation_alt: 0.3s ease-in-out;
$scale: 1.02;

// Navbar
$nav_height: 100px;
$nav_height_sm: 75px;