.banner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  // & > * { border: 1px solid blue; }

  & > *:nth-child(2) { margin: 0; }
  & > *:nth-child(3) { margin-top: 2vh; }
  & > *:last-child { margin: auto; }

  li {
    display: inline-block;
    margin: 0;
    padding: 0 15px;
    border-left: 1px solid $grey;
    cursor: pointer;

    &:first-child {
      padding-left: 0;
      border-left: none;
    }

    &:last-child { padding-right: 0; }
  }
}

.primary_banner { height: calc(100vh - 100px); }

.secondary_banner {
  h2 {
    font-size: 40px;
    margin: 5vh 0 2vh;
  }
}

.banner__image_container {
  height: 55vh;
  img { height: 100%; }
}

.contacts {
  display: flex;
  align-items: center;
  gap: 50px;
  font-weight: 700;
  color: $grey_alt;

  & > div {
    display: flex;
    gap: 10px;
  }

  svg {
    width: 20px;

    path { fill: $grey_alt; }
    .path_no_fill { fill: $base; }
  }
}

.view {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;

  // & > * { border: 1px solid red; }
}

.secondary_view {
  margin: 7vh 0 0;
  align-items: center;
  menu { height: 35vh; }
}

.view__content {
  width: 65vw;
  padding-left: 50px;

  section {
    margin-bottom: 50px;
    &:last-child { margin-bottom: 0; }
  }
}

.view__content_alt {
  width: 40vw;
  margin-bottom: 0;
  padding-left: 0;
  position: relative;

  section {
    & > * { text-align: center; }
    &:last-child { margin-bottom: 40px; }

    & > div {
      margin-top: 30px;
      display: flex;
      justify-content: center;
      gap: 30px;
    }

    button { width: 150px; }
  }
}

.flex_row {
  margin: 20px 0 20px 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  transition: scale $animation;

  dd { margin: 0; }

  img {
    width: 50px;
    object-fit: contain;
    transition: filter $animation;
  }
}

.flex_row_hover { &:hover { scale: $scale; } }

.flex_row_alt {
  margin: 50px 0 0 0;
  align-items: center;
  gap: 15px;
  
  dd { @include card; }
}

.jump_to_project_section {
  width: calc(65vw - 50px);
  margin: 10vh 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10vh;
  position: relative;
  left: 7.1vw;
  cursor: pointer;

  h2 {
    &:first-child {
      text-align: left;
      &:hover { em { left: -15px; } }
    }

    &:last-child {
      text-align: right;
      &:hover { em { left: 15px; } }
    }
  }

  em {
    font-weight: 300;
    position: relative;
    left: 0;
    transition: left $animation;
  }
}

#section_intro {
  visibility: hidden;
  translate: 0 -100px;
}

#section_about {
  dt { font-weight: 600; }
  dd { line-height: $line_height; }

  ul {
    margin-left: 40px;
    margin-top: 0px;
    
    li {
      display: inline-block;
      margin: 3px 0;
      padding: 0 15px;
      border-left: 1px solid $grey;

      &:first-child { border: none; }
    }
  }
}

#section_skills {
  dt { margin-top: 10px; }
  dd { @include card; }
}

#section_projects {
  // border: 1px solid red;

  & > div {  
    margin-bottom: 0;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  hr { margin: 15px 0; }
  p { margin-top: 0; }

  & > button:last-child {
    margin-top: 25px;
    float: right;
    white-space: pre;
  }
}

.toast_text {
  opacity: 0;
  @include h_center_content;
  position: fixed;
  bottom: 10vh;
  padding: 5px 15px;
  border-radius: 20px;
  background-color: $grey;
  color: #FFF;
  transition: opacity $animation_alt;
}