.banner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  // & > * { border: 1px solid red; }

  & > *:last-child {
    margin: auto;
  }
}

.primary_banner {
  height: 100vh;
}

.secondary_banner {
  h2 {
    font-size: 40px;
    margin: 4vh 0 2vh;
  }
}

.banner__title {
  width: 100vw;
  mask-image: url('../assets/images/Untitled-1.png');
  mask-size: 150% 97%;
  mask-repeat: no-repeat;
  background-image: $background_image;
  background-repeat: no-repeat;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;

  & > * {
    width: 50vw;
    @include h_center_content;
    text-align: center;
  }

  li {
    display: inline-block;
    padding: 0 15px;
    border-left: 1px solid $grey_alt;

    &:first-child {
      padding-left: 0;
      border-left: none;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}

.banner__title_lg {
  height: 80vh;

  h2 {
    text-align: left;
    opacity: 1;
    margin: 10vh 0 2vh;
    animation: opacity_header 2s ease-in-out infinite alternate-reverse;
  }

  @keyframes opacity_header {
    from {
      opacity: 1;
    }
    to {
      opacity: 0.5;
    }
  }
}

.banner__title_sm {
  height: 40vh;
  mask-size: 100% 90%;
}

.contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  font-weight: 700;

  a {
    color: $grey_dark;
  }

  & > a {
    display: flex;
    gap: 10px;

    &:hover {
      sup {
        transform: translate(3px, -3px);
      }
    }
  }

  a > svg {
    width: 20px;
    path {
      fill: $grey_dark;
    }
    .path_no_fill {
      fill: #fff;
    }
  }

  sup {
    svg {
      fill: $grey_dark;
      width: 13px;
      height: auto;
    }
  }
}

.view {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;

  // & > * { border: 1px solid red; }
}

.secondary_view {
  align-items: stretch;
}

.view__content {
  width: 70vw;
  padding-left: 50px;

  section {
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid $grey;
    &:last-child {
      margin-bottom: 0;
      border: none;
    }
  }
}

.view__content_alt {
  width: 40vw;
  margin: 7vh 0 0;
  padding-left: 0;
  position: relative;

  section {
    & > * {
      text-align: center;
    }
    &:last-child {
      margin-bottom: 20px;
    }
    a {
      display: block;
    }
    button {
      width: 150px;
    }
  }
}

.view__content__description {
  margin-bottom: 8vh;
}

.flex_row {
  margin: 20px 0 20px 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  transition: transform $animation;

  dd {
    margin: 0;
    @include card;
    @include glass_effect;
  }

  img {
    width: 50px;
    object-fit: contain;
    transition: filter $animation;
  }
}

.flex_row_hover {
  &:hover {
    transform: scale($scale);
  }
}

.flex_row_alt {
  margin: 50px 0 0 0;
  align-items: center;
  gap: 15px;
}

#section_about {
  a {
    text-decoration: underline;
    text-underline-offset: 3px;
  }

  article {
    & > div:first-child {
      margin-top: 25px;
      padding: 25px;
      color: #fff;

      section {
        margin: 0;
        padding: 0;
        border: none;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h3 {
          margin-top: 0px;
        }

        svg {
          height: 30px;
          fill: #fff;
          transition: rotate $animation_alt;
        }
      }

      div {
        display: none;
        margin-top: 2vh;
        b {
          display: block;
        }
        span {
          position: relative;
          left: 10px;
          line-height: 2;
        }
      }
    }
  }
}

#section_tech {
  dt {
    margin-top: 10px;
  }
}

#section_projects {
  & > div {
    margin-bottom: 0;
    justify-content: space-between;
  }

  article {
    width: 30%;

    div {
      height: 22vh;

      h3 {
        padding: 10px 25px 25px;
        position: absolute;
        bottom: 15px;
      }
    }

    p {
      margin-top: 35px;
    }
  }

  & > button:last-child {
    margin: 2vh 0 8vh;
    float: right;
    white-space: pre;
  }
}

.jump_to_project_section {
  width: calc(65vw - 50px);
  margin: 3vh 0 8vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 8vh;
  position: relative;
  left: 7.1vw;

  h2 {
    cursor: pointer;

    &:first-child {
      align-self: flex-end;
      text-align: right;
      &:hover {
        em {
          left: 15px;
        }
      }
    }

    &:last-child {
      &:hover {
        em {
          left: -15px;
        }
      }
    }
  }

  em {
    font-weight: 300;
    position: relative;
    left: 0;
    transition: left $animation;
  }
}

.toast_text {
  opacity: 0;
  @include h_center_content;
  position: fixed;
  bottom: 10vh;
  padding: 5px 15px;
  border-radius: 20px;
  background-color: $grey_alt;
  color: #fff;
  transition: opacity $animation_alt;
  z-index: 9;
}
