@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400;500;600;700");
html {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 16px;
  font-weight: 400;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #FBFBFB;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}

h1 {
  font-size: 60px;
  font-weight: 700;
  margin: 20px 0;
}

h2 {
  font-size: 30px;
  font-weight: 700;
  margin: 0;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  margin: 30px 0 0;
  transition: color 0.1s linear;
}

p, dt {
  line-height: 1.7;
}

a {
  color: #000;
  text-decoration: none;
}

em {
  font-style: normal;
}

dl {
  margin: 0;
}

dt {
  margin: 15px 20px 0;
}
dt:first-child {
  margin-top: 10px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

article {
  width: 30%;
  margin-bottom: 0;
  padding: 15px;
  border: 1px solid #CCC;
  border-radius: 5px;
  transition: box-shadow 0.1s linear;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 25px;
}
article:hover {
  box-shadow: 4px 4px 3px 1px #E6E6E6;
}
article h3 {
  margin: 0;
}
article button {
  align-self: flex-end;
  margin-top: 10px;
}

hr {
  width: 100%;
  border: none;
  border-top: 1px solid #CCC;
}

button {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 16px;
  padding: 5px 15px;
  border: none;
  border: 1px solid #999;
  background-color: transparent;
  border-radius: 5px;
  transition: background-color 0.1s linear;
}
button:hover {
  background-color: #EEE;
}

.background_art_1 {
  width: 35vw;
  translate: -5% 50%;
  position: absolute;
  bottom: 0;
  z-index: 1;
}
@media (prefers-reduced-motion: no-preference) {
  .background_art_1 {
    animation: art_rotate 6s ease-in-out infinite alternate-reverse;
  }
}
@keyframes art_rotate {
  from {
    rotate: -10deg;
  }
  to {
    rotate: 15deg;
  }
}

.background_art_2 {
  width: 33vw;
  position: absolute;
  bottom: 25vh;
  left: -31vw;
}
@media (prefers-reduced-motion: no-preference) {
  .background_art_2 {
    animation: art_rotate_2 0.1s ease-in-out infinite alternate-reverse;
  }
}
@keyframes art_rotate_2 {
  from {
    left: -31vw;
  }
  to {
    left: -31.05vw;
  }
}

nav {
  height: 100px;
  padding-right: 50px;
}
nav svg {
  visibility: hidden;
}
nav ul {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  position: relative;
  top: 50%;
  translate: 0 -50%;
  float: right;
}
nav ul li {
  width: 80px;
  text-align: center;
  display: inline-block;
  margin: 0;
  padding: 10px 0;
  border-radius: 5px;
  transition: background-color 0.1s linear;
  cursor: pointer;
}
nav ul li:hover {
  background-color: #EEE;
}

.secondary_list {
  width: auto;
  padding: 10px 25px;
  white-space: pre;
}

menu {
  width: 20vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: sticky;
  top: 0;
  z-index: 1;
}
menu ul {
  padding: 1px 0 1px 20px;
  position: relative;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border-left: 1px solid #999;
  z-index: 2;
}
menu ul li {
  margin: 25px 0;
}
menu ul span, menu ul a {
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.1s linear;
  cursor: pointer;
}
menu ul span:hover, menu ul a:hover {
  background-color: #EEE;
}

footer {
  width: 70vw;
  height: 150px;
  font-size: 0.9rem;
  margin-left: 50px;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
  border-top: 1px solid #999;
}

.footer_pri span:last-child {
  margin-top: 20px;
}

.footer_sec {
  height: 120px;
}

.footer_mid {
  height: 120px;
  margin: 0;
  position: relative;
  left: 50%;
  translate: -50% 0;
  align-items: center;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.banner > *:nth-child(2) {
  margin: 0;
}
.banner > *:nth-child(3) {
  margin-top: 2vh;
}
.banner > *:last-child {
  margin: auto;
}
.banner li {
  display: inline-block;
  margin: 0;
  padding: 0 15px;
  border-left: 1px solid #999;
  cursor: pointer;
}
.banner li:first-child {
  padding-left: 0;
  border-left: none;
}
.banner li:last-child {
  padding-right: 0;
}

.primary_banner {
  height: calc(100vh - 100px);
}

.secondary_banner h2 {
  font-size: 40px;
  margin: 5vh 0 2vh;
}

.banner__image_container {
  height: 55vh;
}
.banner__image_container img {
  height: 100%;
}

.contacts {
  display: flex;
  align-items: center;
  gap: 50px;
  font-weight: 700;
  color: #333;
}
.contacts > div {
  display: flex;
  gap: 10px;
}
.contacts svg {
  width: 20px;
}
.contacts svg path {
  fill: #333;
}
.contacts svg .path_no_fill {
  fill: #FBFBFB;
}

.view {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.secondary_view {
  margin: 7vh 0 0;
  align-items: center;
}
.secondary_view menu {
  height: 35vh;
}

.view__content {
  width: 65vw;
  padding-left: 50px;
}
.view__content section {
  margin-bottom: 50px;
}
.view__content section:last-child {
  margin-bottom: 0;
}

.view__content_alt {
  width: 40vw;
  margin-bottom: 0;
  padding-left: 0;
  position: relative;
}
.view__content_alt section > * {
  text-align: center;
}
.view__content_alt section:last-child {
  margin-bottom: 40px;
}
.view__content_alt section > div {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.view__content_alt section button {
  width: 150px;
}

.flex_row {
  margin: 20px 0 20px 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  transition: scale 0.1s linear;
}
.flex_row dd {
  margin: 0;
}
.flex_row img {
  width: 50px;
  object-fit: contain;
  transition: filter 0.1s linear;
}

.flex_row_hover:hover {
  scale: 1.02;
}

.flex_row_alt {
  margin: 50px 0 0 0;
  align-items: center;
  gap: 15px;
}
.flex_row_alt dd {
  margin-bottom: 0;
  padding: 15px;
  border: 1px solid #CCC;
  border-radius: 5px;
  transition: box-shadow 0.1s linear;
}
.flex_row_alt dd:hover {
  box-shadow: 4px 4px 3px 1px #E6E6E6;
}

.jump_to_project_section {
  width: calc(65vw - 50px);
  margin: 10vh 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10vh;
  position: relative;
  left: 7.1vw;
  cursor: pointer;
}
.jump_to_project_section h2:first-child {
  text-align: left;
}
.jump_to_project_section h2:first-child:hover em {
  left: -15px;
}
.jump_to_project_section h2:last-child {
  text-align: right;
}
.jump_to_project_section h2:last-child:hover em {
  left: 15px;
}
.jump_to_project_section em {
  font-weight: 300;
  position: relative;
  left: 0;
  transition: left 0.1s linear;
}

#section_intro {
  visibility: hidden;
  translate: 0 -100px;
}

#section_about dt {
  font-weight: 600;
}
#section_about dd {
  line-height: 1.7;
}
#section_about ul {
  margin-left: 40px;
  margin-top: 0px;
}
#section_about ul li {
  display: inline-block;
  margin: 3px 0;
  padding: 0 15px;
  border-left: 1px solid #999;
}
#section_about ul li:first-child {
  border: none;
}

#section_skills dt {
  margin-top: 10px;
}
#section_skills dd {
  margin-bottom: 0;
  padding: 15px;
  border: 1px solid #CCC;
  border-radius: 5px;
  transition: box-shadow 0.1s linear;
}
#section_skills dd:hover {
  box-shadow: 4px 4px 3px 1px #E6E6E6;
}

#section_projects > div {
  margin-bottom: 0;
  justify-content: space-between;
  align-items: flex-start;
}
#section_projects hr {
  margin: 15px 0;
}
#section_projects p {
  margin-top: 0;
}
#section_projects > button:last-child {
  margin-top: 25px;
  float: right;
  white-space: pre;
}

.toast_text {
  opacity: 0;
  position: relative;
  left: 50%;
  translate: -50% 0;
  position: fixed;
  bottom: 10vh;
  padding: 5px 15px;
  border-radius: 20px;
  background-color: #999;
  color: #FFF;
  transition: opacity 0.3s ease-in-out;
}

@media only screen and (min-width: 280px) and (max-width: 768px) {
  h1 {
    font-size: 40px;
    margin: 20px 0;
  }
  article {
    width: 100%;
  }
}
@media only screen and (min-width: 280px) and (max-width: 768px) {
  .background_art_1 {
    display: none;
  }
  .background_art_2 {
    display: none;
  }
  nav {
    width: 100vw;
    height: 75px;
    padding: 0;
    position: sticky;
    top: 0;
    z-index: 2;
  }
  nav svg {
    height: 50px;
    fill: #333;
    border-radius: 5px;
    background-color: #FBFBFB;
    top: 5vh;
    translate: 0 0;
    position: absolute;
    right: 6.3vw;
    transform: scale(0.8);
    transition: opacity 0.1s linear;
  }
  nav .showMenu {
    visibility: visible;
    opacity: 1;
  }
  nav .closeMenu {
    visibility: hidden;
    opacity: 0;
  }
  nav ul {
    height: 50px;
    gap: 0;
    border: 1px solid #999;
    border-radius: 5px;
    background-color: #FBFBFB;
    align-items: center;
    translate: 0 0;
    position: absolute;
    top: -7vh;
    left: 50%;
    transform: translateX(-50%);
    transition: top 0.3s ease-in-out;
  }
  nav ul li {
    width: 100px;
    padding: 8px;
  }
  nav ul li:hover {
    background-color: transparent;
  }
  menu {
    width: 100vw;
    height: auto;
    bottom: 0;
  }
  menu ul {
    width: 85vw;
    height: 50px;
    padding: 0 5px;
    margin: 5vh 0;
    border: 1px solid #999;
    border-radius: 5px;
    background-color: #FBFBFB;
    display: flex;
    justify-content: space-around;
    align-items: center;
    translate: 0 0;
    left: 50%;
    transform: translateX(-50%);
  }
  menu ul li {
    width: 25%;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    padding: 8px;
  }
  menu ul span, menu ul a {
    padding: 5px;
  }
  menu ul span:hover, menu ul a:hover {
    background-color: transparent;
  }
  footer {
    width: 85vw;
    margin: 0;
    padding: 0;
    align-items: center;
    position: relative;
    left: 50%;
    translate: -50% 0;
    translate: 0 0;
    transform: translateX(-50%);
  }
  .footer_mid {
    translate: 0 0;
    transform: translateX(-50%);
  }
}
@media only screen and (min-width: 280px) and (max-width: 768px) {
  .banner > *:nth-child(2) {
    margin-top: 1vh;
    width: 70vw;
    text-align: center;
  }
  .banner > *:nth-child(3) {
    margin-top: 4vh;
  }
  .banner li {
    display: block;
    padding: 0;
    margin-bottom: 10px;
    border-left: none;
    text-align: center;
  }
  .banner li:last-child {
    margin-bottom: 0;
  }
  .primary_banner {
    height: calc(100vh - 75px);
  }
  .secondary_banner h2 {
    margin-bottom: 0px !important;
  }
  .secondary_banner span {
    margin-top: 15px !important;
  }
  .secondary_banner ul {
    display: none;
  }
  .banner__image_container {
    height: 43vh;
  }
  .contacts {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }
  .contacts > div span:first-child {
    display: none;
  }
  .view {
    margin-bottom: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0px;
  }
  .secondary_view menu {
    height: auto;
  }
  .secondary_view menu li {
    width: 50%;
  }
  .view__content {
    width: 85vw;
    padding: 0;
  }
  .view__content_alt {
    width: 85vw;
  }
  .view__content_alt section > * {
    text-align: center;
  }
  .view__content_alt section > div {
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .view__content_alt section button {
    width: 50%;
  }
  .flex_row {
    gap: 20px;
  }
  .flex_row img {
    width: 50px;
  }
  .flex_row_alt {
    gap: 10px;
  }
  .flex_row_alt span:first-child {
    width: 100%;
  }
  .jump_to_project_section {
    width: 85vw;
    margin-top: 5vh;
    left: 50%;
    transform: translateX(-50%);
  }
  .jump_to_project_section h2:first-child em {
    margin-bottom: 2vh;
  }
  .jump_to_project_section h2:first-child:hover em {
    left: 0;
  }
  .jump_to_project_section h2:last-child em {
    margin-top: 2vh;
  }
  .jump_to_project_section h2:last-child:hover em {
    left: 0;
  }
  .jump_to_project_section em {
    display: block;
  }
  #section_intro {
    translate: 0 0;
    transform: translateY(-100px);
  }
  #section_about ul {
    margin-left: 50px;
  }
  #section_about li:first-child {
    border-left: 1px solid #999 !important;
  }
  #section_projects > div {
    margin: 0;
    flex-direction: column;
  }
  .toast_text {
    translate: 0 0;
    bottom: 15vh;
    transform: translateX(-50%);
  }
  .section_about__list {
    line-height: 1.7;
    padding-right: 0;
  }
}

/*# sourceMappingURL=index.css.map */
