@media only screen and (min-width: 280px) and (max-width: 768px) {
  h1 {
    font-size: 45px;
    margin: 20px 0;
  }

  article {
    width: 100%;

    &:hover {
      transform: scale(1);
    }

    & > div:first-child {
      background-image: $background_image;
      border-radius: $border_radius;
      position: relative;

      h3 {
        color: #fff;
      }

      button {
        transform: translateY(50%);
      }
    }
  }
}
