@media only screen and (min-width: 280px) and (max-width: 768px) {
  .background_art_1 { display: none; }
  .background_art_2 { display: none; }
  
  nav {
    width: 100vw;
    height: 75px;
    padding: 0;

    svg {
      height: 50px;
      fill: $grey_alt;
      border-radius: $border_radius;
      background-color: $base;
      top: 5vh;
      translate: 0 0;
      position: absolute;
      right: 7vw;
      transform: scale(0.8);
      transition: opacity $animation;
    }

    .showMenu { visibility: visible; opacity: 1; }
    .closeMenu { visibility: hidden; opacity: 0; }

    ul {
      height: 50px;
      gap: 0;
      border: 1px solid $grey;
      border-radius: $border_radius;
      background-color: $base;
      align-items: center;
      translate: 0 0;
      position: absolute;
      top: -7vh;
      left: 50%;
      transform: translateX(-50%);
      transition: top $animation_alt;
  
      li {
        width: 100px;
        padding: 8px;
        &:hover { background-color: transparent; }
      }
    }
  }

  menu {
    width: 100vw;
    height: auto;
    bottom: 0;
  
    ul {
      width: 85vw;
      height: 50px;
      padding: 0 5px;
      margin-bottom: 5vh;
      border: 1px solid $grey;
      border-radius: $border_radius;
      background-color: $base;
      display: flex;
      justify-content: space-around;
      align-items: center;
      translate: 0 0;
      left: 50%;
      transform: translateX(-50%);

      li {
        width: calc(100% / 4);
        display: inline-block;
        text-align: center;
        border-radius: $border_radius;
        padding: 8px;
      }

      span, a {
        padding: 5px;
        &:hover { background-color: transparent; }
      }
    }
  }

  footer {
    width: 85vw;
    margin: 0;
    align-items: center;
    @include h_center_content;
    translate: 0 0;
    transform: translateX(-50%);
  }

  .footer_mid {
    translate: 0 0;
    transform: translateX(-50%);
  }
}