@media only screen and (min-width: 280px) and (max-width: 768px) {
  nav {
    height: $nav_height_sm;
    padding: 0;

    svg {
      height: 50px;
      fill: $grey_dark;
      border-radius: $border_radius;
      top: 5vh;
      transform: translate(0, 0);
      position: fixed;
      right: 6vw;
      transform: scale(0.8);
      transition: opacity $animation;
    }

    .showMenu {
      visibility: visible;
      opacity: 1;
    }
    .closeMenu {
      visibility: hidden;
      opacity: 0;
    }

    ul {
      height: 50px;
      padding: 0 5px;
      border: 1px solid $grey;
      border-radius: $border_radius;
      background-color: #fff;
      justify-content: center;
      align-items: center;
      gap: 5px;
      position: fixed;
      top: -7vh;
      left: 50%;
      transform: translate(-50%, 0);
      transition: top $animation_alt;

      li {
        color: #000;
        &:hover {
          background-color: transparent;
        }
      }
    }
  }

  menu {
    width: 100vw;
    height: auto;
    bottom: 0;

    ul {
      width: 85vw;
      height: 50px;
      padding: 0;
      margin-bottom: 5vh;
      border: 1px solid $grey;
      border-radius: $border_radius;
      background-color: #fff;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 10px;
      left: 50%;
      transform: translateX(-50%);

      li {
        text-align: center;
        border-radius: $border_radius;
      }

      span,
      a {
        padding: 0 5px;
      }
    }
  }

  .menu_alt {
    ul {
      position: relative;
      gap: 0;
      padding: 0 30px;
    }

    li {
      justify-content: center;

      sup {
        transform: translateX(-10px);
      }
    }
  }

  footer {
    flex-direction: column;

    & > div {
      padding: 3vh 0;
      span {
        text-align: center;
      }
    }
  }
  footer {
    padding: 3vh 0;
    align-items: center;
    background-image: $background_image;
  }
}
