@media only screen and (min-width: 280px) and (max-width: 768px) {
  .banner {
    & > *:nth-child(2) { margin-top: 1vh; width: 70vw; text-align: center; }
    & > *:nth-child(3) { margin-top: 4vh; }
  
    li {
      display: block;
      padding: 0;
      margin-bottom: 10px;
      border-left: none;
      text-align: center;
  
      &:last-child { margin-bottom: 0; }
    }
  }

  .primary_banner { height: calc(100vh - $nav_height_sm); }

  .secondary_banner {
    margin-bottom: 5vh;
    h2 { margin-bottom: 1vh;}
  }

  .banner__image_container { height: 43vh; }

  .contacts {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  
    & > a { span:first-child { display: none; } }
  }

  .view {
    margin-bottom: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
  }

  .secondary_view {
    menu {
      height: auto;
      margin: 0;
      li { width: calc(100% / 2); }
    }
  }

  .view__content {
    width: 85vw;
    padding: 0;
  }

  .view__content_alt { width: 85vw; }

  .flex_row {
    gap: 20px;
    img { width: 50px; }
  }

  .flex_row_alt {
    span:first-child { width: 100%; }
    gap: 10px;
  }

  .jump_to_project_section {
    width: 85vw;
    margin: 0 0 5vh;
    left: 50%;
    transform: translateX(-50%);
    
    h2 {
      &:first-child {
        em { margin-bottom: 2vh; }
        &:hover { em { left: 0; } }
      }
      &:last-child {
        em { margin-top: 2vh; }
        &:hover { em { left: 0; } }
      }
    }
  
    em { display: block; }
  }

  #section_intro {
    translate: 0 0;
    transform: translateY(-100px);
  }

  #section_projects {
    & > div {  
      margin: 0;
      flex-direction: column;
    }

    & > button:last-child { margin: 5vh 0 0; }
  }
  
  .toast_text {
    translate: 0 0;
    bottom: 15vh;
    transform: translateX(-50%);
  }

  .section_about__list {
    line-height: $line_height;
    padding-right: 0;
  }
}